@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{
	--font-title:'Inter', sans-serif;
	--font-content: 'Lexend Deca', sans-serif;
}
html{
	font-size:62,5%
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
body{
	
	background: hsl(233, 47%, 7%);
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	color:white;
}

.card-body{
	background-color: rgba(28,25,56,1);
	width:65rem;
	/*height:26rem;*/
	display:flex;
	flex-direction:row-reverse;
	align-items:stretch;
	border-radius: .5rem;
	overflow:hidden;
	
}
.card-body .product-image-section{

	width:49%;
	position:relative;
	background-color: hsl(277, 64%, 61%);
}
.card-body .product-image-section picture{
	height:100%;
	width:100%;
}
.card-body .product-image-section .image{
	width:100%;
	height:100%;
	
	mix-blend-mode: multiply;
}
.card-body .product-image-section div{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: hsla(277, 64%, 61%, 25%);
	
	
}
.card-body .product-data{
	
	width:51%;
	padding:4rem;
	display:flex;
	flex-direction:column;
}
.card-body .product-data h1{
	font-family:var(--font-title);
	font-weight:700;
	font-size:2.15rem;
	margin-bottom:1.5rem;
}
.card-body .product-data .description{
	font-family:var(--font-title);
	font-weight:100;
	font-size:1rem;
	line-height:1.4rem;
	color: rgba(255,255,255,0.5);
	
	
}
.product-data .counters{
	
	margin-top:auto;
	display:flex;
	justify-content: flex-start;
}
.product-data .counters div{
	margin-right:auto;
}
.product-data .counters div p:first-child{
	text-transform:uppercase;
	font-family:var(--font-title);
	font-weight:700;
	font-size:1.6rem;
}
.product-data .counters div p:last-child{
	text-transform:uppercase;
	font-family:var(--font-title);
	font-weight:400;
	font-size:.8rem;
	color: rgba(255,255,255,0.5);
	
	
}
@media(max-width:650px){
	body{
		align-items:flex-start;
	}
	.card-body{
		margin:  1.5rem;
		flex-direction:column;
		
		
	}
	.card-body .product-image-section{
		width:100%
		
	}
	.card-body .product-data{
		padding:2rem;
		width:100%;
		text-align:center;
	}
	.card-body .product-data h1{
	font-size:1.7rem;
	
	}
	.card-body .product-data .description{
		font-size:.95rem;
		padding-bottom:2rem;
	}
	.product-data .counters{
		flex-direction:column;
		
	}
	.product-data .counters div{
		margin:0 auto 2rem auto;
		
	} 
}